.main {
  padding: 1rem var(--margin-mobile);
  max-width: 45rem;
}

.description {
  font-size: 1.2rem;
}

.imageWrapper {
    position: relative;
    height: 12rem;
}

.image {
    border-radius: 10px;
}

.instructions {
  white-space: pre-line;
}

.line {
  height: 2px;
  background-color: var(--color-green);
  border: none;
}

.button {
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.1rem;
}

@media only screen and (min-width: 768px) {

}